
@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'); /* Pretty Modern Browsers */
       /*url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        /* url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Times, serif;
    /*direction:rtl;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0268B4;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url(images/background.jpg);
    background-size: cover;
    background-position: center;
}


.action{
    position: fixed;
    top: 7%;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.action .profile{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 5px 5px 20px  #311909 ;
   
}

.action .profile img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu {
       position: absolute;
       top: 150px;
       right:0;
       box-shadow: 5px 5px 20px 10px #311909 ;
       background: #fff;
       width: 400px;
       border-radius: 15px;
       -webkit-border-radius: 15px;
       -moz-border-radius: 15px;
       -ms-border-radius: 15px;
       -o-border-radius: 15px;
       /*afterclickshowmenu*/opacity: 0;
       transform: translateY(80px);
       -webkit-transform: translateY(80px);
       -moz-transform: translateY(80px);
       -ms-transform: translateY(80px);
       -o-transform: translateY(80px);
       transition:all 0.4s ease-in-out ;
       -webkit-transition:all 0.4s ease-in-out ;
       -moz-transition:all 0.4s ease-in-out ;
       -ms-transition:all 0.4s ease-in-out ;
       -o-transition:all 0.4s ease-in-out ;
}
/*
.menu span{
    border-bottom: 1px solid #777;
    padding: 10px;
    box-sizing: border-box;
}*/

.action .menu.active{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.action .menu::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.action .menu h3 {
    padding: 20px;
    text-align: center;
    font-weight: 900;
    box-sizing: border-box;
    width: 100%;
}

.action .menu h3 span {
    font-size: 14px;
    color: #777;
}

.action .menu ul {
    width: 100%;
    list-style: none;
    text-decoration: none;
    padding: 0 30px;
    box-sizing: border-box;
}



.action .menu ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
  
}


.action .menu ul li img {
    width: 30px;
    margin-right: 10px;
    opacity: .6;
    box-shadow: .3px .3px 1px 1px #777 ;
}



.action .menu ul li a{
    text-decoration: none;
    color: #000;
}

.action .menu ul li a:hover {
    color: crimson;
}

.action .menu ul li a:hover::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: crimson;
    position: absolute;
    margin: 5px 0;
    animation: line .4s ease ;
    -webkit-animation: line .4s ease ;
}

@keyframes line {
    to {
        width: 80%;
    }
}



